.jumbotron {
  background-image: url("http://i.imgur.com/EH7yKha.jpg?1");
  background-size: cover;
}

.jumbo-text-panel {
  border: none;
  color: white;
  margin-top: 20px;
  background: rgba(0,0,0,0.6);
}

.btn {
  margin-top: -10;
  position: relative;
  top: -28px;
  padding-top: 3px;
  padding-bottom: 3px;
}
