.jumbotron {
  background-image: url("http://i.imgur.com/EH7yKha.jpg?1");
  background-size: cover;
}

.jumbo-text-panel {
  border: none;
  color: white;
  margin-top: 20px;
  background: rgba(0,0,0,0.6);
}
